<html>
  <head>
      <title>Joke Generator</title>
  </head>
  <body>
      <header>
      <h2>Joke Generator</h2>
      </header>
      <div class="front">
          <h2>Generate a joke based on keywords</h2>
          <hr>
          <h3>Type in a few keywords:</h3>
      </div>
      <div class="text-form">
          <form method="post">
              <textarea name="prompt"></textarea>
              <p><input type=submit value="get response">
          </form>
      </div>
  </body>
</html>