<html>
  <head>
      <title>Joke Generator</title>
  </head>
  <body>
      <header>
      <h2>Joke Generator</h2>
      </header>
      <div class="container">
          <pre>Keywords: <span class="keyword">{prompt}</span></pre>
          <hr>
      </div>
      <div class="container">
          <pre>{answer}</pre>
      </div>
      <div class="container">
          <a href="/joke"> Make Another Query</a>
      </div>
  </body>
</html>