<html>
  <head>
  <title>About</title>
  </head>
  <body>
  <header>
      <h2>About the Demos</h2>
  </header>
  <div class="container">
      <h3 class="keyword">Xin Yi Liu</h3>
      <p>Brandeis 24' MS3 CS</p>
      <p>Demo1: Find grammar errors of sentences</p>
      <h3 class="keyword">Hongqian Li</h3>
      <p>Brandeis 24' MS4 CS</p>
      <p>Demo2: Generate a simple joke based on keywords</p>
      <h3 class="keyword">Yixuan He</h3>
      <p>Brandeis 24' MS4 CS</p>
      <p>Demo3: Get a horror story by keywords</p>
      <h3 class="keyword">Ruihao Shen</h3>
      <p>Brandeis 24' MS3 CS</p>
      <p>Demo4: Generate a rap battle</p>
      <h3 class="keyword">Yichun Huang</h3>
      <p>Brandeis 24' MS4 CS</p>
      <p>Demo5: Get a movie line by keywords</p>
  </div>