<!DOCTYPE html>
<html>
  <head>
    <title>GPT Demo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1>GPT Demo</h1>
    </header>
    <nav>

      <% if (!loggedIn) {%>
        <li>
          <a href="/login">
            <span>Login</span>
          </a>
        </li>
        
        <% } else  { %>
          <li><a href="/about">About</a></li>
          <li><a href="/team">Team</a></li>
          <li><a href="/grammar">Demo1: Grammar Error Detection</a></li>
          <li><a href="/joke">Demo2: Keyword-Based Joke Generator</a></li>
          <li><a href="/horror">Demo3: Get a horror story by keywords</a></li>
          <li><a href="/rap">Demo4: Generate a rap battle</a></li>
          <li><a href="/movie">Demo5: Get a movie line by keywords</a></li>

          <li>
            <a class="log" href="/logout">
              <span>Logout</span>
            </a>
          </li>

          <li>
            <a class="log" href="#">
              <%= user.username %>
            </a>
          </li>
        <% } %>
    </nav>

    <div class="container">
      <%- body %>
    </div>
  </body>
</html> 