
<head>
<title>Team Introduction</title>
</head>
<body>
<header>
    <h2>Our Team Members</h2>
</header>
<div class="container">
    <h2 class="keyword">Xin Yi Liu</h2>
    <p>developed a form page to find grammar errors, and modified other pages</p>
    <h2 class="keyword">Hongqian Li</h2>
    <p>developed a form page to generate a joke based on keywords, added some basic UI</p>
    <h2 class="keyword">Yixuan He</h2>
    <p>developed a form page to get a horror story by keywords</p>
    <h2 class="keyword">Ruihao Shen</h2>
    <p>developed a rap battle generator between whoever you want</p>
    <h2 class="keyword">Yichun Huang</h2>
    <p>developed a form page to get a movie line, containing given keywords</p>
</div>