<html>

<head>
    <title>Movie Line Generator</title>
</head>

<body>
    <header>
        <h2>Movie Line Generator</h2>
    </header>
    <div class="container">
        <pre>Keywords: <span class="keyword"><%= prompt %></span></pre>
        <hr>
    </div>
    <div class="container">
        <pre><%= answer %></pre>
    </div>
    <div class="container">
        <a href="/movie"> Make Another Query</a>
    </div>
</body>

</html>