<html>
  <head>
    <title>EPIC Rap Battle Generator</title>
  </head>
  <body>
    <header>
      <h1>EPIC Rap Battle Generator</h1>
    </header>
    <div class="container">
      <pre>Battlers: <span class="keyword"> <%= prompt %> </span></pre>
      <hr>
    </div>
    <div class="container">
      <pre> <%= answer %> </pre>
    </div>
    <div class="container">
      <a href="/rap"> Make Another Query</a>
    </div>
  </body>
</html>