<html>
  <head>
      <title>Grammar Check</title>
  </head>
  <body>
      <header>
      <h2>Grammar Check</h2>
      </header>
      <div class="container">
          <pre>Keywords: <span class="keyword"><%= prompt %></span></pre>
          <hr>
      </div>
      <div class="container">
          <pre><%= answer %></pre>
      </div>
      <div class="container">
          <a href="/grammar"> Make Another Query</a>
      </div>
  </body>
</html>